[Unit]
Description=Modified Instanced STUNNEL
After=network.target

[Service]
ExecStart=/usr/bin/stunnel4 /etc/stunnel/%I.conf
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/stunnel@%I.pid
Type=simple
Restart=on-failure
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
